.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.person{
  background-color: #000000;
  display:inline-block;
  margin:10px;
  border:2px
    solid #000000;
    box-shadow:0 2px spx #000000;
  width:300px;
}

img{
  margin-top:50px;
}

body{
  font-family: Arial, Helvetica, Nimbus Sans L, sans-serif;
  text-align: center;
}

.bc{
  color: #b1228c;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
